pandas==2.3.2              # base
matplotlib==3.10.5         # base
scikit-learn==1.7.1        # base
category-encoders==2.8.1   # base

Flask==3.1.2              # S06
peewee==3.18.2            # S06
psycopg2-binary==2.9.10   # S06
